@import 'includes';
:host {
  display: block;

  width: 38rem;
  max-width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

footer {
  @include flex(center, space-between);
  gap: 0.5rem;
  padding-top: 1rem;
  .btn-primary {
    flex: 1;
  }
}

input {
  &.ng-invalid {
    &.ng-touched {
      border-color: red;
    }
  }
}

app-loader {
  height: 5rem;
}

@include breakpoint-up('lg') {
  :host {
    padding: 2rem;
  }
}
