<header>
  <h2>Create person</h2>
</header>
<main class="row">
  <div class="mb-3 col-12 col-md-6">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" />
  </div>

  <div class="mb-3 col-12 col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" placeholder="name@example.com" />
  </div>

  <div class="mb-3 col-12 col-md-6">
    <label class="form-label">Date of Birth</label>
    <input type="date" class="form-control" />
  </div>

  <div class="mb-3 col-12 col-md-6">
    <label class="form-label">Country</label>
    <app-country-select></app-country-select>
  </div>
</main>
<footer></footer>
