@import 'includes';
:host {
  display: block;

  width: 38rem;
  max-width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

@include breakpoint-up('lg') {
  :host {
    padding: 2rem;
  }
}
